@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,800";
@import "reset";
@import "variable";
@import "font";

 
 

.app-layout {
  max-width: 1000px;
  margin: 0 auto;

  @media(min-width: $screen-md) {
    padding: 100px 50px 50px 50px;
  }
}

.app-container {
  position: relative;
  overflow: hidden;
  padding: 20px 0 0 0;
  .app-header {
    padding-bottom: 30px;
    text-align: center;
    .app-site-info {
      color: #FFFFFF;
      h1 {
        margin: 0;
        padding: 0;
        font-size: 60px;
        font-weight: 800;

      }
      .site-title {
        margin: 20px 0 0 0;
        padding: 0;
        font-size: 50px;
        font-weight: 300;
        color: rgba(255, 255, 255, .9);
        @media (max-width: $screen-sm) {
          display: none;
        }
      }
      .site-slogan {
        @media (max-width: $screen-sm) {
          display: none;
        }
        margin-top: 5px;
        padding: 0;
        font-size: 30px;
        font-weight: 300;
        color: rgba(255, 255, 255, .6);
      }
    }

  }
 

 
}

.app-card {
  overflow: hidden;
  position: relative;
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  @media (min-width: $screen-sm) {
    width: 350px;
  }
  .app-card-header {
    background: rgba(243, 247, 255, 1);
    .app-card-header-inner {
      padding: 10px 20px;
    }
  }
  .app-card-content {
    .app-card-content-inner {
      padding: 20px;
    }
  }
  &.app-card-uploading, &.app-card-upload-sent {
    .app-card-content {
      .app-card-content-inner {
        padding: 40px;
      }
    }
  }
}

.app-file-select-zone {
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0 0 0;
  label {
    display: block;
    width: 100%;
    input {
      position: fixed;
      top: -9999px;
    }
  }
  .app-upload-description {
    font-size: 12px;
    display: block;
  }
  .app-upload-icon {
    display: inline-block;
    margin-bottom: 10px;
    width: 60px;
    height: 30px;
    border: 1px dashed $body-text-color;
    position: relative;
    i {
      position: absolute;
      left: 10px;
      top: -10px;
      background: #f3f7ff;
      font-size: 28px;
    }
  }
  &.error {
    .app-upload-icon {
      border-color: $danger-color;
    }
  }
}

.app-form-item {
  margin: 0 0 15px 0;
  label {
    text-transform: uppercase;
    display: block;
    font-weight: 400;
    margin: 0 0 8px 0;
  }
  input[type='text'], input[type='email'],input[type='password'],textarea {
    width: 100%;
    border: 1px solid rgba(224, 224, 224, 1);
    outline: 0 none;
    padding: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    &:focus, :active {
      outline: 0 none;
    }
  }
  textarea {
    min-height: 50px;
  }
  &.error {
    input {
      color: $danger-color;
    }
  }
}

.app-form-actions {
  .app-button {
    width: 100%;
    text-align: center;
    display: block;
    font-weight: 800;
    color: $primary-color;
    border: 1px solid $primary-color;
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 15px;
    text-transform: uppercase;
    &.primary {
      background: $primary-color;
      color: #FFFFFF;
    }
    &.app-button-link{
      background: none;
      border: 0 none;
      color: $primary-color;
    }
  }
}

.app-files-selected {
  max-height: 150px;
  position: relative;
  overflow-y: auto;
  background: #FFFFFF;
  position: relative;
  margin: -20px -20px 0 -20px;
  padding: 20px;
  .app-files-selected-item {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    padding: 10px 0;
    .filename {
      flex-grow: 1;
    }
    .file-action {

    }
  }
  .app-file-remove {
    border: 0 none;
    padding: 3px;
    font-size: 14px;
    font-weight: 300;
    background: none;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.error {
  color: $danger-color;
}

.app-home-uploading-icon {
  display: block;
  text-align: center;
  i {
    font-size: 60px;
    display: inline-block;
    border: 1px solid $body-text-color;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
  }
  h2 {
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 17px;
  }
}

.app-home-upload-sent-icon {
  display: block;
  text-align: center;
  i {
    font-size: 50px;
    display: inline-block;
    border: 1px solid $body-text-color;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
  }
}

.app-upload-files-total {
  margin-top: 20px;
}

.app-upload-stats {

  display: flex;
  flex-direction: row;
  .app-upload-stats-left {
    flex-grow: 1;
  }
  .app-upload-stats-right {

  }
}

.app-progress {
  background: rgba(241, 248, 254, 1);
  border: 1px solid rgba(178, 216, 248, 1);
  height: 15px;
  line-height: 15px;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  position: relative;
  overflow: hidden;
  .app-progress-bar {
    display: block;
    position: absolute;
    left: 0;
    top: 0px;
    height: 15px;
    line-height: 15px;
    background: $primary-color;
  }
}

.app-upload-cancel-button {
  margin-top: 50px;
}

.app-text-center {
  text-align: center;
}

.app-upload-sent-message {
  h2 {
    font-size: 25px;
    font-weight: 400;
    padding: 0;
    margin: 20px 0;
  }
  p {
    line-height: 1.5em;
  }
}

.app-upload-sent-actions {
  margin: 20px 0;
  button {
    margin: 10px 0;
  }
}

.app-page-download {
  .app-card {
    @media(min-width: $screen-sm) {
      width: 400px;
    }
    margin: 0 auto;
  }
}

.app-top-header {
  text-align: center;
  color: #FFFFFF;
  h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: 800;
  }
  margin-bottom: 20px;
}

.app-download-icon {
  text-align: center;
  i {
    font-size: 50px;
    color: $body-text-color;
    display: inline-block;
    border: 1px solid $body-text-color;
    width: 100px;
    height: 100px;
    line-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}

.app-download-message {
  margin-top: 30px;
  h2 {
    font-size: 20px;
    margin: 20px 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 0 0 0 10px;
      margin: 0 10px 0 0;
      display: inline-block;
      position: relative;
      &:before {
        position: absolute;
        top: 5px;
        left: 0;
        display: block;
        content: ' ';
        width: 4px;
        height: 4px;
        background: $body-text-color;
        border-radius: 50%;
      }
      &:first-child{
        padding: 0;
        &:before{
          display: none;
        }
      }
    }
  }
}
.app-download-file-list{
  margin: 30px 0;
  .app-download-file-list-item{
    border-bottom: 1px solid rgba(227,234,248,1);
    padding: 10px 5px;
    display: flex;
    .filename{
      flex-grow: 1;
    }
    .download-action{
      a{
        color: $primary-color;
        text-decoration: none;
      }
    }
  }
}
.app-download-actions{
  button{
    margin: 10px 0;
  }
}
.app-top-header{
  h1{
    cursor: pointer;
  }
}
.app-top-bar{
  color: #FFFFFF;
  height: $header-height;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  .app-top-bar-inner{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    .app-top-bar-left{
      flex-grow: 1;
    }
    .app-top-bar-right{
      text-align: right;
      .app-top-bar-right-inner{
        display: flex;
      }
    }
  }
  .site-name{
    font-size: 30px;
    cursor: pointer;
    line-height: $header-height;
  }
  .user-profile-picture{
    padding-top: 10px;
    img{
      width: 30px;
      height: 30px;
      border-radius: 50%;

    }
  }
  .user-profile-menu{
    margin: 0;
    padding: 0;
    font-weight: 600;
    list-style: none;
    li{
        padding: 0 10px;
        line-height: $header-height;
    }
  }
}


.app-login-form{
  background: #FFFFFF;
  position: fixed;
  right: 0;
  top: 0;
  min-width: 300px;
  bottom: 0;
  z-index: 1001;
  .form-title{
    padding: 20px 0;
    font-size: 25px;
    font-weight: 600; 
    text-align: center;
    display: block;
  }
  .app-login-form-inner{
    position: relative;
    padding: 40px;
  }
  .app-form-actions{
      button{
        margin: 10px 0;
      }
  }
  .app-form-description{
    text-align: center;
  }
  .app-dismiss-button{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1002;
  }
}
.user-signin-button{
  cursor: pointer;
}
.app-message{

  p{
    padding: 10px;
    border: 1px solid $primary-color;
    border-radius: 5px;
    margin: 10px 0;
    color: $primary-color;
    &.error{
      border-color: $danger-color;
      color: $danger-color;
    }
  }
}