.vp-player-layout{
    width: 300px !important;
    height: 200px!important;
}
 
.content{
    background-color:#fff ;
}
.player, .player *, .player ::after, .player ::before{
    width: 300px !important;
    height: 200px!important;
}
iframe{
    width: 500px ;
    height: 500px;
}