.customNav{border: #EE6E73;color: white;}
.test{color:#EE6E73;}
img{
	 
    position: relative;
        width: 100%;
     
}
td{
	margin: 10px 5px;
}

.linked{
	margin : 15px 0px;
	height: 50px;
	border: 1px solid #a3c18166;
	vertical-align: middle;
	 
}