.dropdown-menu{
    min-width: 12rem;
}
.logo-navbar{
width: 160px;
}

#img-slides2{
height: 
550px !important;
}

.btn-social {
color: white;
opacity: 0.8;
}

.btn-social:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
}

.btn-facebook {
background-color: #3b5998;
}

.btn-twitter {
background-color: #00aced;
}

.btn-linkedin {
background-color: #0e76a8;
}

.btn-google {
background-color: #c32f10;
}
//HomePAge
//----------------
.app-login {
 
}
.header-section {
    background-image: url(https://hrcdn.net/hackerrank/assets/home/hr-banner-new-ad413b961c8c9bb4c64fcd81367c9c8b.png);
     background-position: 40% 66.5%;
    
     background-size: cover;
  

      overflow: hidden;
      height: 550px;
     background-repeat: no-repeat;
}
body{
    background-color:#fff;
}
.app-sign{
     background-image: url(https://hrcdn.net/hackerrank/assets/home/hr-banner-new-ad413b961c8c9bb4c64fcd81367c9c8b.png);
     background-position: 100% 66.5%;
    
     background-size: cover;
  
}
.logo-sqli{
        
   background-position: 50% 66.5%;
      overflow: hidden;
      height: 125px;
     background-repeat: no-repeat;
        background-image: url(https://www.sqli-institut.com/files/2015/05/logo_sqli_institut1.png);
   }
  .hire-talent-wrapper {
    display: inline-block;
    font-size: 14px;
}
.hiring-label {
    box-sizing: border-box;
    margin: 0 auto;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
}
#header-login{


}
//-------------------
// filter

#pagination-container {
    display: flex;
    justify-content: center;
    }
    
    #pagination {
    display: flex;
    color: #505050;
    }
    
    #pagination-list {
    display: flex;
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
    }
    
    .pagination-button {
    display: flex;
    height: 50px;
    width: 50px;
    border: 1px solid rgb(61, 161, 243);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }
    
    .pagination-list-item {
    margin-right: 10px;
    }
    
    .pagination-list-item.active {
    background: #399bf7;
    color: white;
    }
    
    .pagination-go-first {
    margin-right: 40px;
    position: relative;
    margin-left: 10px;
    }
    
    .pagination-go-first:before {
    position: absolute;
    content: '...';
    right: -33px;
    }
    
    .pagination-go-last {
    margin-left: 40px;
    position: relative;
    margin-right: 10px;
    }
    
    .pagination-go-last:before {
    position: absolute;
    content: '...';
    left: -33px;
    }

    .profile-back-img{
        padding: 0;
        position: relative;
    }
    .profile-back-img img{
        width: 120%;
    }
    .profile-name-area{
        position: relative;
        bottom:80px; 
    }
    .user-pic img{
        border: 3px solid #fff;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-bottom: 15px;
        cursor: pointer;
    }
    .user-name{
        padding: 0;
        color: #fff;
    }
    .user-name h2{
        margin-top: 5px;
    }
    .user-name a{
        color: #fff;
    } 
    .profile-btn-area{
        margin-top: 15px;
    }
    .abt-btn:hover,
    .abt-btn{
        border: none;
        border-radius: 2px;
        padding: 10px;
        color: #fff;
        margin-right: 20px;
        text-decoration: none;
        border:0;
          outline:none;
    }
    .abt-btn:focus{
        color: #fff;
        background:rgba(64, 108, 237,0.3);
        text-decoration:none; 
    }
    .edt-btn{
        margin: 0px 35px;
        margin-right: -150px
    }
    .toogle-btn{
        background: none;
        border: none;
        color: #fff;
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
    .toogle-btn:focus{
        background:rgba(250,250,250,0.2);
    }
    .toogle-btn i{
        padding-top: 3px;
        font-size: 20px;
    }
    
    @media screen and (max-width: 567px) {
        .profile-back-img img{
            height: 180px;
            width: 100%;
        }
    
        .dropdown,.abt-btn{
            display: none;
        }
    
        .profile-name-area{
            position: static;
            background: #F1F1F1;
        }
        .user-pic img{
            margin-top: -25px;
            height: 50px;
            width: 50px;
        }
        .user-name h3{
            text-align:center;
            margin-top: 30px;
            color: #000;
        }
        .user-name h3 a{
            color: #000 !important;
        }
        .user-name a{
            color: rgb(51, 137, 218) !important;
            margin-left: 20px;
        }
        .user-name p{
            color: #000;
            text-align: center; 
        }
        .profile-btn-area .edt-btn{
            margin-top:30px;
            margin-bottom:30px;
            margin-right: 40px;
            background: #4285F4; 
            color: #fff;
        }
        .profile-btn-area .pull-right{
            float: none !important;
            text-align: center;
        }
    
    }
    .my-pull{
        text-align: right;
        margin-left: 165px;
        position: relative;
        bottom: 52px;
    }
    
    
.perso-info{
    position: relative;
    display: inline-block;
    margin-top: -102px;
    margin-left: -10px;
    
}
//--------------Home login

#tp{
    top:30%;
}
.card-group{
    top:73%!important;
}

//------ loader Qcm
.App-logo {
    animation: spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
 
  
 
  /* Result Component */
  .result {
    padding: 1.5rem 2.5rem;
  }
  
  /* Quiz Component */
  .answerOptions {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* QuestionCount Component */
  .questionCount {
    padding: 1.5rem 2.5rem 0;
    font-size: 14px;
  }
  
  /* Question Component */
  .question {
    margin: 0;
    padding: 0.5rem 2.5rem 1.5rem 2.5rem;
  }
  
  /* AnswerOption Component */
  .answerOption {
    border-top: 1px solid #eee;
  }
  
  .answerOption:hover {
    background-color: #eefbfe;
  }
  
  .radioCustomButton {
      position: absolute;
      width: auto;
      opacity: 0;
  }
  
  .radioCustomButton,
  .radioCustomLabel {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
  }
  
  .radioCustomLabel {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 1.5rem 2.5rem 1.5rem 5rem;
      font-size: 16px;
      line-height: 1.5;
  }
  
  .radioCustomButton ~ .radioCustomLabel:before {
      position: absolute;
      top: 20px;
      left: 38px;
      width: 28px;
      height: 28px;
      content: '';
      display: inline-block;
      vertical-align: middle;
      background: #fff;
      border: 1px solid #bbb;
      border-radius: 50%;
      transition: all 0.3s;
  }
  
  .radioCustomButton:checked ~ .radioCustomLabel:before {
      content: '';
      background: #8BC53F url(./svg/icon-check.svg) no-repeat;
      background-size: 27px;
      border-color: #8BC53F;
  }
  
  /* Animation */
  .fade-enter {
      opacity: 0;
  }
  
  .fade-enter.fade-enter-active {
      opacity: 1;
      transition: opacity 0.5s ease-in-out 0.3s;
  }
  
  .fade-leave {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 1;
  }
  
  .fade-leave.fade-leave-active {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
  }
  
  .fade-appear {
      opacity: 0;
  }
  
  .fade-appear.fade-appear-active {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
  }
  #cardspli{
      height: 400px ;
      margin-bottom: 40px;
  }
  .input-gr{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 30px;
  }
  .label-fr{
    vertical-align: middle;
      font-size: 30px;
  }
  #background-video{
     position: relative;
     bottom:24px;
    width: 100%;
    height: auto;
    
}
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
    }
    
    .content {
        position: relative;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
    }
    
    #myBtn {
        width: 200px;
        font-size: 18px;
        padding: 10px;
        border: none;
        background: #000;
        color: #fff;
        cursor: pointer;
    }
    
    #myBtn:hover {
        background: #ddd;
        color: black;
    }

    
#content-video {
    background: rgba(0, 0, 0, 0.5);
    right: 0;
    padding: 0px;
    font-size: 20px;
    height: 70px;
    left: 0;
    top: 0px;
    position: absolute;
    padding-bottom: 20px;
}
#ctn-gh{
    position: relative;
}
#btn-gh{
    background-color: #eb2210;
    border-color: #eb2210;
    margin: 15px;
    float: right;
    text-decoration: none;
}
#allqcm{
    margin: 15px;
}
 
#username{
    font-size:45px;
    font-weight: bold;
margin: 8px 15px;
}
.breadcrumb{
    margin-bottom: 0;
    z-index: 1;
}
.clock-app{
    position: relative;
    left: 25px;
}
.btn-start{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 73%;
    left: 45%;
}