.app-footers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 $spacer;
    color: $footer-color;
    background: $footer-bg;
    @include borders($footer-borders);
  }
  